body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.taskArea {
  margin-left: 50px;
}

.taskName {
  width: 140px;
}

.isChecked {
  color: #808080;
  text-decoration: line-through;
}

.addTask {
  background-color: #0E7490;
  color: #FFFFFF;
  border: #0E7490 solid 2px;
  border-radius: 10%;
}

.taskStatus {
  background-color: #0E7490;
  border-color: #0E7490;
}

.delTask {
  background: transparent;
  border: none;
  font-size: 20px;
  color: gray;
}